.App {
	text-align: center;
	width: 100%;
	min-height: 100vh;
	color: white;
}

.bg {
	width: 100%;
	min-height: 100vh;
	background: white url('./bg.jpg') center/cover no-repeat fixed;
}

.bg-filter {
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: 100vh;
	background-color: #00000094;
	backdrop-filter: sepia(0.4);
}

.SearchForm-wrapper {
	display: flex;
	justify-content: center;
}

a {
	margin: 0 auto;
	text-decoration: none;
	color: white;
	font-size: 1.5rem;
	font-weight: bold;
}
