.button {
  width: 100%;
  height: 2.38rem;
  background-color: rgba(29, 219, 70, 0.7411764705882353);
}
.button:hover {
  background-color: #1ddb46;
  cursor: pointer;
}

.details {
  margin: 1rem;
}

.title {
  font-size: 2rem;
  margin: 1.5rem 0;
}
